<input type="text" class="lowercase-field" value="{{str}}" oninput={{action (mut str) value='target.value'}} />
<input type="text" class="uppercase-field" value="{{upper}}" oninput={{action (mut upper) value='target.value'}} />
<p>Str={{str}}</p>
<p>Upper={{Upper}}</p>